* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #E9F0F4, #D0D3D4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

header {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #496c9a;
    font-size: 15px;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #B9436B;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        margin-top: 10px;
    }
}

.logo {
    height: 50px;
    width: 100px;
    margin-bottom: 1rem;
    border-radius: 10px;
}

.btn {
    background: linear-gradient(135deg, #E50026, #F7941D);
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.btn:hover {
    transform: scale(1.05);
}

.alert {
    padding: 10px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.footer {
    margin-top: auto;
    padding: 0.2rem;
    text-align: center;
    font-size: 0.9rem;
    color: #2C2C2C;
    background: #E9F0F4;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.social-icons {
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
}

.social-icons a {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2C2C2C;
    color: white;
    border-radius: 50%;
    text-decoration: none;
    font-size: 1rem;
}